.selectfilter {
  border: solid 1px var(--white);
  display: inline-block;
  padding: 15px;
  height: 700px;
  overflow: auto;
  font-weight: bold;
  color: var(--white);
  font-size: 16px;
  background-color: #1F1F1F;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0c0c0c;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0c0c0c;
}
::-webkit-scrollbar-thumb:active {
  background: #0c0c0c;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #1f1f1f;
}
::-webkit-scrollbar-track:active {
  background: #1f1f1f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.inputcontainer {
  position: relative;
  display: flex;
  align-items: center;

}

.input {
  background-color: #414141;
  border: none;
  border-radius: 5px;

  padding: 5px 5px 5px 30px;
}
.iconsearch{
  position:absolute;
}

.filter {
  padding: 5px 0 5px 15px;
  margin: 0;
}
.filter:hover {
  background-color: #414141;
}
.checked, .checked:hover {
  background-color: #952925;
}

.filterGenre {
  color: #888888;
  padding: 5px 0;
  margin: 0;
}
.filterchildren {
  padding: 10px 0;
}

.filtercontainer {
  padding: 10px 0;
}
